<div class="card card-compact w-full bg-base-100 h-full">
  <div class="card-body">
    <div class="flex justify-between items-center mb-2">
      <h2 class="card-title">{{ card.title }}</h2>
      <div class="dropdown dropdown-end">
        <button tabindex="0" role="button" class="btn btn-ghost btn-xs btn-circle">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul tabindex="0" class="dropdown-content z-[50] menu p-2 bg-base-100 rounded-box w-32">
          <li><button (click)="onEdit()">Edit</button></li>
          <li><button (click)="onDelete()">Delete</button></li>
          <!-- Add more menu items here if needed -->
        </ul>
      </div>
    </div>
    <div class="card-content flex-grow overflow-y-auto">
      <ng-content></ng-content> <!-- Content projection -->
    </div>
  </div>
</div>
