<div class="h-[90vh]">
  <div class="grid mb-4">
    <div role="tablist" class="tabs col">
      <div class="tabs-box mr-2">
        <a role="tab" class="tab" [ngClass]="{'tab-active':!editMode}" (click)="onEditToggle()">View Mode</a>
        <a role="tab" class="tab" [ngClass]="{'tab-active': editMode}" (click)="onEditToggle()">Design Mode</a>
      </div>
      <button class="col btn btn-primary mr-2 mt-1" (click)="addItem()" *ngIf="editMode">Add Item</button>
      <button class="col btn btn-primary mt-1" (click)="saveDashboard();">
        <div *ngIf="saveDashboardLoading">
          <span class="loading loading-dots loading-xl"></span>
        </div>
        Save Dashboard</button>
    </div>
  </div>

  <div class="loader h-100 w-100 flex justify-center items-center" *ngIf="isLoading">
    <span class="loading loading-spinner loading-lg"></span>
  </div>

  <!-- <gridster [options]="options" class="bg-base-300" *ngIf="!isLoading">
    <gridster-item [id]="card.id" [item]="card.gridsterConfig" *ngFor="let card of dashboard" class="bg-transparent">
      <app-card [card]="card" (delete)="removeItem($event, card)" (settingsChanged)="onSettingsChanged($event)" [eventSubject]="eventSubject">
        
      </app-card>
    </gridster-item>
  </gridster> -->
  <div class="max-h-[85vh] overflow-y-auto">
    <gridstack #gridstack [options]="options" (changeCB)="onChange($event)" [ngClass]="{'bg-blue-100':editMode}" *ngIf="!isLoading">
  
      @for (card of dashboard; track card.id) {
        <gridstack-item [id]="card.id"
        [options]="{ 
          x: card.gridsterConfig.x, 
          y: card.gridsterConfig.y, 
          w: card.gridsterConfig.cols, 
          h: card.gridsterConfig.rows 
        }"
        >
          <app-card [card]="card" (delete)="removeItem($event, card)" (settingsChanged)="onSettingsChanged($event)" [eventSubject]="eventSubject">
          
          </app-card>
        </gridstack-item>
      }
  
    </gridstack>
  </div>

</div>
