<button [id]="'button-edit-' + params.data.id"  type="button" class="inline-flex items-center justify-center w-10 h-10 focus:outline-none rounded-lg text-sm p-2.5 text-primary hover:text-primary-focus focus:ring-2 focus:ring-offset-2 focus:ring-primary focus:ring-opacity-50 cursor-pointer" (click)="onEditClick()">
          
  <i class="fas fa-edit w-5 h-5"></i>
  

</button>
<button [id]="'button-delete-' + params.data.id"  type="button" class="inline-flex items-center justify-center w-10 h-10 focus:outline-none rounded-lg text-sm p-2.5 text-error hover:text-error-focus focus:ring-2 focus:ring-offset-2 focus:ring-error focus:ring-opacity-50 cursor-pointer" (click)="onDeleteClick()">
          
  <i class="fas fa-trash-alt w-5 h-5"></i>
  

</button>

<button [disabled]="isStartTaskDisabled" [id]="'button-task-' + params.data.taskId"  type="button" class="text-gray-500 dark:text-gray-400 inline-flex items-center justify-center w-10 h-10 hover:bg-base-200 focus:outline-none rounded-lg text-sm p-2.5 focus:ring-2 focus:ring-offset-2 focus:ring-neutral focus:ring-opacity-50 cursor-pointer" [ngClass]="{'cursor-not-allowed': isStartTaskDisabled}" (click)="onStartClick()" *ngIf="calledFrom === 'TASK' && !isStartTaskDisabled">
          
  <i class="fas fa-sign-in-alt w-5 h-5"></i>
  
</button>

  