<div class="max-w-lg w-full card bg-base-100 p-4 md:p-6">

  <div class="flex justify-between items-start w-full">
    <div class="flex-col items-center">
      <div class="flex items-center mb-1">
        <h5 class="text-xl font-bold leading-none text-base-content me-1">{{duration}}</h5>
      </div>
    </div>
    <div class="flex justify-end items-center">
      <!-- Placeholder -->
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="py-6">
    <canvas baseChart 
      [data]="pieChartData" 
      [type]="'pie'"
      [options]="pieChartOptions">
    </canvas>
  </div>

</div>
