<div class="flex gap-2 mb-6">
  <div class="form-control w-full max-w-xs" *ngIf="isLoaded">
    <select (change)="selector()" [(ngModel)]="account" class="select select-bordered">
      <option [value]="acc" *ngFor="let acc of accounts">{{acc}}</option>
    </select>
  </div>

  <div class="form-control w-full max-w-xs">
      <select [(ngModel)]="duration" class="select select-bordered" (change)="loadTransactions()">
        <option value="7_DAYS">From last 7 days</option>
        <option value="1_MONTH">From last month</option>
        <option value="3_MONTH">From last 3 months</option>
        <option value="1_YEAR">From last year</option>
        <option value="ALL">All time</option>
      </select>
  </div>
  <div class="form-control w-full max-w-xs" *ngIf="isLoaded">
    <select [(ngModel)]="uniqueSelected" class="select select-bordered">
      <option [value]="unique" *ngFor="let unique of uniqueSelector">{{unique}}</option>
    </select>
</div>
</div>
<div class="overflow-auto grid grid-flow-row auto-cols-auto gap-4 md:grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 grid-cols-1" style="height: 85vh;">
    <!-- <app-area></app-area> -->

    <app-bar-custom class="col-span-1" [series]="multiDimChartSeries" [labels]="multiDimChartLabels" (event)="handleEvent($event)" *ngIf="isLoaded"></app-bar-custom>
    <!-- <app-pie class="col-span-2" [series]="singleDimChartSeries" [labels]="singleDimChartLabels" [duration]="uniqueSelected" *ngIf="isLoaded"></app-pie> -->
    <app-donut-custom class="col-span-2" [series]="singleDimChartSeries" [labels]="singleDimChartLabels" [duration]="uniqueSelected" *ngIf="isLoaded"></app-donut-custom>
    <!-- <app-radial></app-radial>  -->

    <!-- <app-column></app-column>

    <app-donut></app-donut>

    <app-pie></app-pie>
 
    <app-radial></app-radial> -->

   <span class="w-full mb-4 text-4xl font-extrabold leading-none tracking-tight text-base-content md:text-5xl lg:text-6xl" *ngIf="!isLoaded">No Data to display charts</span>

</div>