<div class="grid grid-flow-row auto-cols-auto gap-4 md:grid-cols-2 lg:grid-cols-4 sm:grid-cols-1 grid-cols-1">
    <div class="card bg-base-100 border border-base-300 shadow">
        <div class="card-body">
            <h2 class="card-title text-xl">Bulk Upload Steps</h2>
        
            <ol class="space-y-4 w-full mt-4">
                <li>
                    <button class="w-full p-4 text-left rounded-lg alert"
                    [ngClass]="{'alert-info': steps.downloadTemplate.status === 'pending', 'alert-success': steps.downloadTemplate.status !== 'pending'}"
                    (click)="downloadTemplate();steps.downloadTemplate.status = 'completed'">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">{{steps.downloadTemplate.label}}</span>
                            <h3 class="font-medium">{{steps.downloadTemplate.label}}</h3>
                            <i class="fa-solid fa-check px-2" *ngIf="steps.downloadTemplate.status === 'completed'"></i>
                        </div>
                        <p class="text-left text-xs opacity-80">Click here to download template.</p>
                    </button>
                </li>
                <li>
                    <div class="w-full p-4 text-left rounded-lg alert"
                    [ngClass]="{'alert-info': steps.uploadTemplate.status === 'pending', 'alert-success': steps.uploadTemplate.status !== 'pending'}">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">{{steps.uploadTemplate.label}}</span>
                            <h3 class="font-medium">{{steps.uploadTemplate.label}}</h3>
                            <i class="fa-solid fa-check px-2" *ngIf="steps.uploadTemplate.status === 'completed'"></i>
                        </div>
                        <p class="text-left text-xs opacity-80">Upload template with data.</p>
                    </div>
                </li>
                <li>
                    <button class="w-full p-4 text-left rounded-lg alert"
                    [ngClass]="{'alert-info': steps.previewTemplate.status === 'pending', 'alert-success': steps.previewTemplate.status !== 'pending'}"
                    (click)="steps.uploadTemplate.status === 'completed' ?  steps.previewTemplate.status = 'completed' : ''">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">{{steps.previewTemplate.label}}</span>
                            <h3 class="font-medium">{{steps.previewTemplate.label}}</h3>
                            <i class="fa-solid fa-check px-2" *ngIf="steps.previewTemplate.status === 'completed'"></i>
                        </div>
                        <p class="text-left text-xs opacity-80">Click here once you have verified the preview data</p>
                    </button>
                </li>
                <li>
                    <div class="w-full p-4 text-left rounded-lg alert"
                    [ngClass]="{'alert-info': steps.submitTemplate.status === 'pending', 'alert-success': steps.submitTemplate.status !== 'pending'}"
                    >
                        <div class="flex items-center justify-between">
                            <span class="sr-only">{{steps.submitTemplate.label}}</span>
                            <h3 class="font-medium">{{steps.submitTemplate.label}}</h3>
                            <i class="fa-solid fa-check px-2" *ngIf="steps.submitTemplate.status === 'completed'"></i>
                        </div>
                        <p class="text-left text-xs opacity-80">Submit the verified template. <br><span class="font-bold">Once submitted you can not undo this transaction.</span></p>
                    </div>
                </li>
                <li>
                    <div class="w-full p-4 text-left rounded-lg alert"
                    [ngClass]="{'alert-info': steps.jobCompleted.status === 'pending', 'alert-success': steps.jobCompleted.status !== 'pending'}"
                    >
                        <div class="flex items-center justify-between">
                            <span class="sr-only">{{steps.jobCompleted.label}}</span>
                            <h3 class="font-medium">{{steps.jobCompleted.label}}</h3>
                            <i class="fa-solid fa-check px-2" *ngIf="steps.jobCompleted.status === 'completed'"></i>
                        </div>
                        <p class="text-left text-xs opacity-80">This will turn green when the job is completed.</p>
                    </div>
                </li>
                
            </ol>
        </div>
    </div>
    
    <div class="card bg-base-100 border border-base-300 shadow">
        <div class="card-body items-center">
            <h2 class="card-title">Upload File</h2>
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-base-300 border-dashed rounded-lg cursor-pointer bg-base-200 hover:bg-base-300 mt-4">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <i class="fa-solid fa-cloud-arrow-up text-4xl mb-4 text-base-content/60"></i>
                    <p class="mb-2 text-sm text-base-content/70" *ngIf="!selectedFile"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="mb-2 text-sm text-base-content/70" *ngIf="selectedFile"><span class="font-semibold">{{selectedFile.name}}</span></p>
                    <p class="text-xs text-base-content/70" >CSV File</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)" [disabled]="submitDisabled" accept=".csv"/>
            </label>
            <div class="card-actions justify-end w-full mt-4 space-y-2">
                <button (click)="uploadCSV()" type="button" class="btn btn-primary w-full" [disabled]="submitDisabled || !selectedFile">Upload & Verify</button>
                <!-- Use button to open the modal -->
                <button type="button" class="btn btn-success w-full" [disabled]="transactions.length === 0" (click)="previewModal.showModal()">Preview</button>
                <button *ngIf="steps.previewTemplate.status === 'completed'" (click)="submitCSV()" type="button" class="btn btn-warning w-full" [disabled]="submitDisabled">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Daisy UI Modal for Preview -->
<dialog #previewModal class="modal modal-bottom sm:modal-middle">
  <div class="modal-box max-w-4xl h-[60vh] flex flex-col">
    <h3 class="font-bold text-lg">Preview Extracted Transactions ({{transactions.length}})</h3>
    <div class="divider my-2"></div>
    <div class="relative overflow-auto flex-grow">
        <table class="table table-xs w-full">
            <thead class="sticky top-0 text-xs text-base-content uppercase bg-base-200 z-10">
                <tr>
                    <th class="px-6 py-3">Date</th>
                    <th class="px-6 py-3">Account</th>
                    <th class="px-6 py-3">Description</th>
                    <th class="px-6 py-3">Category</th>
                    <th class="px-6 py-3">Type</th>
                    <th class="px-6 py-3">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-base-300 hover:bg-base-200" *ngFor="let transaction of transactions">
                    <td class="px-6 py-3">{{getFormatedDate(transaction.createdDate)}}</td>
                    <td class="px-6 py-3">{{transaction.account}}</td>
                    <td class="px-6 py-3">{{transaction.description}}</td>
                    <td class="px-6 py-3">{{transaction.category}}</td>
                    <td class="px-6 py-3">{{transaction.type}}</td>
                    <td class="px-6 py-3">{{transaction.amount | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-action mt-4">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>